

.site-header {
    width: 100%;
    display: flex;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-left: 2.4375rem;
        

        .line {
            position: absolute;
            left: 7.125rem;
            z-index: 1;

            fill: transparentize($color-3, 0.75);
        }
    }
}


.navigation {
    padding: 0 10.3125rem 0 7.1875rem;
    list-style: none;
    position: relative;

    background: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(2.1875rem);
            backdrop-filter: blur(2.1875rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    

    li {
        display: inline-block;
        margin-right: 2.625rem;
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 2.3312rem .125rem 2.3312rem 0;


        color: $color-3;
        text-transform: uppercase;
        

        span {
            font-weight: 700;
            margin-right: .6875rem;
        }

        &:hover {
            border-bottom: .1875rem solid transparentize( $color-3, 0.5 );
        }

        &.selected {
            border-bottom: .1875rem solid $color-3;
            
        }
    }

    li:last-of-type{
        margin-right: 0;
    }
}
.toggler{
    /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
    display: none;
    z-index: 13;
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
    opacity: 0;
    //   background: white;
  }
  
  .hamburger{
    display: none;
    position: absolute;
    z-index: 12;
    top: 2rem;
    right: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
//   padding: 9.6px;
    
    /* FOR DISPLAYING EVERY ELEMENT IN THE CENTER : */
    
    align-items: center;
    justify-content: center;
  }
  
  /* CREATING THE MIDDLE LINE OF THE HAMBURGER : */
  
  .hamburger > div{
       position: relative;
       top: 0;
       left: 0;
       background: $color-2;
       height: .1875rem;
       width: 100%;
       transition: all  0.4s ease;
  }
  
  /* CREATING THE TOP AND BOTTOM LINES : 
  TOP AT -10PX ABOVE THE MIDDLE ONE AND BOTTOM ONE IS 10PX BELOW THE MIDDLE: */
  
  .hamburger > div::before,
  .hamburger > div::after{
      content: '';
      position: absolute;
      top: -0.4375rem;
      //   background: white;
      background: $color-2;
      width: 100%;
      height: 100%;
      transition: all  0.4s ease;
  }
  
  .hamburger > div::after{
    top: .4375rem;
  }

  /* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO COMPLETE BLACK AND OPAQUE :  */

.toggler:checked + .hamburger > div{
    background: rgba(0,0,0,0);
}

.toggler:checked + .hamburger > div::before{
    top: 0;
    transform: rotate(45deg);
/*     background: black; */
}

/* AND ROTATING THE TOP AND BOTTOM LINES :  */

.toggler:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(135deg);
/*     background: black; */
}

input.toggler {
    
    &:checked {
      & ~ .navigation.top {
         transform: translatex(-100%);
      }    
    }
  }

  .overlay {
      display: none;
      background: rgba(0, 0, 0, 0.351);
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
  }


@media only screen and($breakpoint-1380) {
    .line {
        display: none;
    }
}

@media only screen and($breakpoint-1050) {
    .container {
        padding-top: 0;
    }
    
    .navigation.top {
        padding: 0 2.875rem 0 3rem;

        li {
            margin-right: 2rem;
        }
        a {
            font-size: .875rem;

            span {
                display: none;
            }
        }
    }
}

@media only screen and($breakpoint-600) {
    .navigation.top {
        position: fixed;
        z-index: 11;
        top: 0;
        right: -62%;
        height: 100vh;
        width: 62%;
        flex-direction: column;
        font-size: 1rem;
        padding: 11.75rem 0 0;
        transition: transform .4s ease;
        // display: none;
        // transform: translateX(-100%) ;

        li {
            margin: 0;
            border: .1875rem solid transparent;
            padding-left: 2rem;
            cursor: pointer;
                        
            &:hover {
                background: rgba(255, 255, 255, 0.11);
            }
        }
        
        a {
            padding: 1.25rem 0 .75rem;
            border-bottom: .1875rem solid transparent;
            
            span {
                display: inline-block;
            }

            &.selected {
                border-bottom: .1875rem solid white;
            }
            
            &:hover {
                border-bottom: .1875rem solid transparent;
            }
            
            &.selected:hover {
                border-bottom: .1875rem solid white;
            }

            &:active {
                
            }
        }

	}

	.symbol {
		margin-top: 1.3125rem;
	}

	.toggler {
		display: inline-block;
	}

    .hamburger {
        display: flex;
    }

    .sub-navigation {
        display: inline-block;
    }
}
