

.site-header {
    width: 100%;
    display: flex;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        

        .line {
            position: absolute;
            left: 114px;
            z-index: 1;

            fill: transparentize($color-3, 0.75);
        }
    }
}


.navigation {
    padding: 0 165px 0 115px;
    list-style: none;
    position: relative;

    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(35px);
    

    li {
        display: inline-block;
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 37.3px 2px 37.3px 0;
        margin-right: 42px;

        color: $color-3;
        text-transform: uppercase;
        

        span {
            font-weight: 700;
            margin-right: 11px;
        }

        &:hover {
            border-bottom: 3px solid transparentize( $color-3, 0.5 );
        }

        &.selected {
            border-bottom: 3px solid $color-3;
            
        }
    }

    li:last-child a{
        margin-right: 0;
    }
}


