//------ MAIN COLOR -------------------
$color-1:    #0B0D17;
$color-2:    #D0D6F9;
$color-3:    #FFFFFF;
$color-4:    #383B4B;

//----- FONT -------------------------

$font-family-bellefair: 'Bellefair', serif;
$font-family-barlow: 'Barlow Condensed', sans-serif;


//------------------------

$enable-rounded: true;
$debug: false;

