
main.crew {
    margin-bottom: 0;

    .role {
        opacity: 0.5;
        text-transform: uppercase;
        font-weight: 400;
        
        margin-top: 9.625rem;
    }

    .name {
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;

        margin: .9375rem 0 1.6875rem 0;
        
    }

    .bio {
        max-width: 27.75rem;
        min-height: 10rem;
        margin-right: .625rem;
    }

    .person {
        margin-top: -0.875rem;
        min-width: 35.3125rem;
        background: url('../assets/crew/image-douglas-hurley.webp') center bottom no-repeat;

    }

    & .selector {
        list-style: none;
        margin-top: 7.5rem;
        margin-bottom: 5.875rem;

        li {
            display: inline-block;
        }
        
        li:not(:last-child) {
            margin-right: 1.5rem;
        }

        a {
            display: inline-block;
            background: white;
            width: .9375rem;
            height: .9375rem;
            border-radius: 50%;
            opacity: 0.27;

            &.selected,
            &.selected:hover {
                opacity: 1;
            }

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

@media only screen and($breakpoint-1050) {
    .container.crew {
        height: 100%;
    }

    main.crew {

        .content {
            justify-content: space-between;
        }

        .left-side {

            .role {
                font-size: 1.5rem;
                margin-top: 3.75rem;
            }

            .name {
                font-size: 2.5rem;
            }

            .bio {
                font-size: 1rem;
                text-align: center;
                max-width: 28.625rem;
                min-height: 6rem;
                line-height: 1.5rem;
                letter-spacing: .1rem;
                // min-height: auto;
            }

            .selector {
                margin: 2.5rem 0;

                a {
                    width: .625rem;
                    height: .625rem;
                }
            }
        }

        .right-side {
            min-width: auto;
            width: 28.5rem;
            min-height: 35.75rem;
            background-size: contain;
            margin: 0 auto;
            border-bottom: .0625rem solid $color-4;
        }
    }
}

@media only screen and($breakpoint-600) {
    main.crew {
        
        .left-side {

            .role {
                font-size: 1rem;
                text-align: center;
                margin-top: 0;
            }
            
            .name {
                font-size: 1.5rem;
                text-align: center;
            }
            
            .bio {
                font-size: .9375rem;
                min-height: 12.5rem;
            }

            .selector {
                margin: 2rem 0;
            }
        }

        .right-side {
            width: 100%;
            min-height: 13.875rem;
            margin-top: 2rem;
        }
    }
}
