main.destination {
    display: block;


    
    .planet {
        width: 445px;
        height: 445px;
        margin-top: 97px;
        margin-left: 65px;

        flex-shrink: 0;

        background: url('../assets/destination/image-moon.png');
        
    }

    .right-side {
        width: 445px;
        margin-right: 163px;
        margin-top: 98px;

        .navigation {
            background: none;
            backdrop-filter: none;
            padding: 0;
    
            a {
                padding: 0 0 15px 0;
                margin-right: 35px;
                font-size: 16px;
                letter-spacing: 1.9px;
                font-family: $font-family-barlow;
            }

        }
        
        .title {
            margin: 37px 0 14px 0;
            line-height: 114.6px;
        }

        .specs {
            display: flex;
            padding-top: 28px;
            margin-top: 54px;
            border-top: 1px solid $color-4;
            
            .col {
                display: flex;
                flex-direction: column;
            }
            
            .left {
                margin-right: 79px;
            }
            
            .distance, .travel {
                font-family: $font-family-bellefair;
                letter-spacing: 0.1px;
                
            }
        }

        
        
    }
    


    

}