main.destination {
    display: block;

    .content {
        gap: .625rem;
    }


    
    .planet {
        width: 27.8125rem;
        height: 27.8125rem;
        margin-top: 6.0625rem;
        margin-left: 4.0625rem;
        margin-right: .625rem;
        flex-shrink: 0;
        
        background: url('../assets/destination/image-moon.png');
        background-size: 100% auto;
        
    }

    .right-side {
        max-width: 27.8125rem;
        // margin-right: 10.1875rem;
        // margin-top: 6.125rem;
        margin: 6.125rem auto 0;

        p {
            margin-right: .625rem;
        }

        .navigation {
            background: none;
            backdrop-filter: none;
            padding: 0;
    
            a {
                padding: 0 0 .9375rem 0;
                // margin-right: 2.1875rem;
                font-size: 1rem;
                letter-spacing: .1187rem;
                font-family: $font-family-barlow;
            }
        }
        
        .title {
            margin: 2.3125rem 0 .875rem 0;
            line-height: 7.1625rem;
        }
        
        .description {
            margin-bottom: 1.75rem;
            padding-bottom: 3.375rem;
            border-bottom: .0625rem solid $color-4;
        }

        .specs {
            display: flex;
            
            .col {
                display: flex;
                flex-direction: column;
            }
            
            .left {
                margin-right: 4.9375rem;
            }
            
            .distance, .travel {
                font-family: $font-family-bellefair;
                letter-spacing: .0063rem;
                color: $color-3;
            }
        }
    }
}

@media only screen and($breakpoint-1050) {
    main.destination {
            
        .content {
            gap: 0;
            flex-direction: column;
            padding-top: 2.5rem;
        }

        .left-side {
            

            .planet {
                width: 18.75rem;
                height: 18.75rem;
                // background-size: contain;
    
                margin-top: 3.75rem;
                margin-left: 0;
                margin-right: 0;
            }
        }

        .right-side {
           

            .description {
                margin-right: 0;
                padding-bottom: 3.0625rem;
                text-align: center;
                letter-spacing: .0625rem;
            }

            .specs {
                width: 100%;
                justify-content: space-evenly;

                .left {
                    margin-right: 0;
                }
            }

            .subheading2 {
                margin-right: 0;
            }
            
            .col {
                align-items: center;
            }
        }
    }
}

@media only screen and($breakpoint-600) {
    main.destination {
        
        .left-side {
            
            .planet {
                width: 10.625rem;
                height: 10.625rem;
                margin-top: 2rem;
            }
        }

        .right-side {
            
            .description {
                font-size: .9375rem;
                line-height: 1.7;
            }
        }
    }
}

@media only screen and($breakpoint-450) {
    main.destination {
        
        .right-side {

            .specs {
                flex-direction: column;
                gap: 1.25rem;
            }
        }
    }
}