.container.home {
    height: auto;
}

main.home {
    padding-top: 15.6875rem;
    justify-content: space-between;
    
        .intro {
            width: 28.125rem;
        }

        .btn-main {
            font-family: $font-family-bellefair;
            font-size: 2rem;
            line-height: 2.2919rem;
            letter-spacing: .125rem;
            color: $color-1;
            cursor: pointer;

            display: inline-block;
            position: relative;
            padding: 7.4375rem 3.895rem 7.3963rem 3.875rem;
            margin-top: 6.875rem;
            margin-right: 8.75rem;
            align-self: center;
            // background: $color-3;
            border-radius: 50%;
            
            &::before{
                content: "";
                display: inline-block;
                background: transparentize($color-3, 0.9);
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: -1;       
                transition: .3s ease-in-out;    
            }
            
            &:hover::before {
                transform: scale(1.64234);
            }
        }
}

@media only screen and($breakpoint-1050) {
    main.home {
        flex-direction: column;
        max-width: 28.125rem;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
        text-align: center;
        padding-top: 6.625rem;

        h5 {
            font-size: 1.25rem;
        }
        
        p {
            font-size: 1rem;
        }
    
        .btn-main {
            padding: 6.4188rem 2.885rem 6.415rem 2.8856rem;
            margin: 9.75rem 0 5.625rem 0;
        }
    }
}

@media only screen and($breakpoint-600) {
    main.home {
        .intro {
            width: 100%;
            padding: 1.5rem;
        }

        h5 {
            font-size: 1rem;
        }

        h1 {
            font-size: 5rem;
            margin: 1rem 0;
            line-height: 6.25rem;
        }
        p {
            font-size: .9375rem;
        }
    
        .btn-main {
            padding: 3.5425rem 1.6rem 3.5425rem 1.6rem;
            margin: 5.0625rem 0 3rem 0;

            font-size: 1.25rem;
            
        }
    }
}